{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "reporter": [
    "text",
    "lcov",
    "html",
    "json-summary"
  ],
  "exclude": [
    "coverage/**",
    "packages/*/test{,s}/**",
    "**/*.d.ts",
    "cypress/**",
    "test{,s}/**",
    "test{,-*}.{js,cjs,mjs,ts,tsx,jsx}",
    "**/*{.,-}test.{js,cjs,mjs,ts,tsx,jsx}",
    "**/*{.,-}spec.{js,cjs,mjs,ts,tsx,jsx}",
    "**/__tests__/**",
    "**/{karma,rollup,webpack,vite,vitest,jest,ava,babel,nyc,cypress,tsup,build}.config.*",
    "**/.{eslint,mocha,babel,nyc}.js",
    "**/{main,index}.js",
    "**/index.js",
    "**/src/index.js",
    "**/src/index.ts",
    "**/src/index.tsx",
    "**/src/index.jsx",
    "**/src/main.js",
    "**/src/main.ts",
    "**/src/main.tsx",
    "**/src/main.jsx",
    "**/src/App.js",
    "**/src/App.ts",
    "**/src/App.tsx",
    "**/src/App.jsx",
    "**/src/index.css",
    "**/src/index.ts",
    "**/src/index.tsx",
    "**/src/index.jsx",
    "**/src/reportWebVitals.js",
    "**/src/reportWebVitals.ts",
    "**/src/setupTests.js",
    "**/src/setupTests.ts",
    "**/src/setupTests.tsx",
    "**/src/setupTests.jsx"
  ],
  "branches": 70,
  "lines": 70,
  "functions": 70,
  "statements": 70
} 